<div class="tile">
  <div class="tile is-vertical is-8">
  <figure class="image is-100x100">
    <img src="https://cl.ly/sxY3/[068ef12cf60169ce2cb3d385726e8b48]_Screen%20Shot%202018-07-12%20at%207.24.41%20PM.jpg">
  </figure>
  </div>
</div>
<div class="tile">
  <div class="tile is-vertical is-8">
<%= form_for(:session, url: login_path) do |f|%>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email", name="user[email_address]">

    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password", name="user[password]">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <%= f.submit 'Login' %>
  </p>
  </div>
    <% end %>
</div>
