</head>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <h1>ADMINISTRATOR</h1>
    </div>
    <div class="navbar-end">
      <%= link_to "Log Out", logout_path, class: "navbar-item"%>
    </div>
  </nav>
<h1> All Users </h1>
<% @users.each do |user| %>
<% if user.role != 'admin' %>
<%= user.name %>
<%= user.email_address %>
<%= button_to 'Delete User', user_path(user), method: :delete, data:{confirm: "Are you sure you want to delete this user?"} %>
<% end %>
<% end %>
